@font-face {
    font-family: 'Nexa-Bold';
    src: url('assets/Nexa-Bold.otf');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('assets/Nexa-Light.otf');
}

* {
    overflow: hidden;
}

body {
    color: #ffffff;
    font-family: 'Nexa-Bold';
    text-transform: uppercase;
}

.frame {
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.bars {
    position: absolute;
}

#top-bar {
    top: -100px;
    z-index: 3;
}

#bottom-bar {
    top: 125px;
}

#middle-bar {
    top: -90px;
    z-index: 2;
}

#logo {
    z-index: 4;
    top: -100px;
}

#content {
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 5;
}

.sponsors {
    font-family: 'Nexa-Light';
}

#content div {
    position: absolute;
}

.middle-content {
    font-style: italic;
    overflow: auto;
}

/*
content css
*/

#team1 {
    left: 320px;
    top: 58px;
    width: 500px;
    height: 30px;
    font-size: 30px;
    display: inline-flex;
    justify-content: space-evenly;
}

#player1, #player2, #player3, #player4 {
    height: 30px;
    width: 240px;
    position: relative!important;
    text-align: center;
}  

.divider {
    height: 30px;
    width: 20px;
    display: none;
    position: relative!important;
}

#team2 {
    left: 1095px;
    top: 58px;
    width: 500px;
    height: 30px;
    font-size: 30px;
    display: inline-flex;
    justify-content: space-evenly;
}

#score1 {
    left: 852px;
    top: 53px;
    width: 25px;
    font-size: 35px;
    text-align: center;
}

#score2 {
    left: 1041px;
    top: 53px;
    width: 25px;
    font-size: 35px;
    text-align: center;
}

#date {
    text-align: right;
    width: 175px;
    left: 700px;
    top: 108px;
    padding-right: 3px;
}

#location {
    text-align: left;
    width: 175px;
    left: 1038px;
    top: 108px;
}

#bracket {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 996px;
    width: 275px;
    text-align: center;
}

#twitter1 {
    display: none;
    left: 470px;
    top: 53px;
    font-size: 35px;
    width: 340px;
    text-align: center;
}

#twitter2 {
    display: none;
    left: 1100px;
    top: 53px;
    font-size: 35px;
    text-align: center;
}